* {
    margin: 0;
    padding: 0;
}

body {
    font-family: cursive;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.header {
    height: 500px;
    width: 100%;
    /* background-image: url(/assets//images/gilang.jpg); */
    /* background: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.black-screen img {
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    background-size: cover;
}

.header .title-header {
    color: white;
    text-shadow: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.header .black-screen {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7));
    position: absolute;
    /* backdrop-filter: blur(20px); */
    bottom: 0;
}

.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.about .section {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    justify-content: center;
    /* align-items: center; */
    padding: 50px;
    flex-wrap: wrap;
}

.about .section .about-image img {
    width: 500px;
    /* height: ; */
    flex: 1;
}

.about .section .about-main {
    flex: 1;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.footer {
    background-color: #b9b2b2;
    padding: 20px;
    justify-content: end;
    display: flex;
    color: #000;
}